DATABASE_URL=postgresql://allstars_user:Zk0vIND2AQBgFV6vfZrwVymR1xyaEYJo@dpg-dain1pgjo6nc73fj4l5g-a.oregon-postgres.render.com/allstars
DATABASE_SSL=true
ADMIN_PASSWORD=AllStars@2026$
MEMBER_PASSWORD=watch2026
